@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.card-container{
    width: 320px;
    height: 497px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 24px 24px rgb(0, 0, 0, 0.05);
    padding: 0;
    justify-content: center;
    align-items: center;
}

img{
    margin-top: 20px;
    width: 288px;
    border-radius: 10px;
}

.text-container{
    width: 288px;
    height: 129px;
    margin: 20px auto;
}

h1{
    font-family: "Outfit", sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    padding: 5px;
}

p{
    font-family: "Outfit", sans-serif;
    color: #7D889E;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    line-height: 1.5;
}

.attribution{
    font-family: "Outfit", sans-serif;
    opacity: 80%;
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}